<div class="jumbotron" id="intro">

  Hi, I am Seulgi and I occasionally solve programming problems for fun.<br/>
  I go by TurtleShip in most coding competitions, and you can
  also find me on either <a href="https://github.com/TurtleShip/" target="_blank">Github</a>
  or <a href="https://www.linkedin.com/in/Seulgi" target="_blank">LinkedIn</a>.

  <br/>
  I thought it would be great if there was a place where people
  can upload solutions and share them, so I built this website.
</div>
