<div class="jumbotron text-center">
  <h1>Welcome to codingyard!</h1>

  <p>Share your solutions to coding competitions! :)</p>
  <br/>
  <a href="https://github.com/TurtleShip/codingyard" target="_blank" class="btn btn-success">Fork me on Github</a>
</div>



