<h1 class="title">Forgot password</h1>

<%= form_for(:password_reset, url: password_resets_path, html: {class: 'form-horizontal'}) do |form| %>

    <div class="form-group">
      <%= form.label :email, class: 'control-label col-xs-2 col-sm-offset-3 col-sm-1' %>
      <div class="col-xs-9 col-sm-5">
        <%= form.email_field :email, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group text-center">
      <div>
        <%= form.submit 'Send me reset link', class: 'btn btn-success' %>
      </div>
    </div>
<% end %>

