/*
  Defines elements that gets applied globally.
*/
@import 'modules/all';
@import 'footer';


html {
  position: relative;
  min-height: 100%;
}

body {
  font-size: $default_font_size;
  font-family: $default_font;
}

.main-content {
  /* pad bottom by footer height and then some */
  padding-bottom: $footer_height + 1em;
}