<h1 class="users_header">All users</h1>

<%= will_paginate %>

<table class="table table-striped">
  <thead>
  <tr class="user_index_header">
    <th>Gravatar</th>
    <th>Username</th>
    <th>Admin?</th>
    <th>Codeforces</th>
    <th>TopCoder</th>
    <th>UVa</th>
    <!-- Place holder for Show/Edit/delete -->
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <%= render @users %>
  </tbody>
</table>

<%= will_paginate %>