<h1>All users</h1>

<%= will_paginate %>

<table class="table table-striped">
  <thead>
  <tr class="user_index_header">
    <th>Pic</th>
    <th>Username</th>
    <th>Admin?</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>

  <tbody>
  <%= render @users %>
  </tbody>
</table>

<%= will_paginate %>