<h1 id="forgot_password_header">Send Activation email</h1>

<div class="text-center">
  <%= form_for(:password_reset, url: password_resets_path) do |form| %>

      <div class="form-inline">
        <%= form.label :email, class: 'form_label text-right' %>
        <%= form.email_field :email, class: 'form-control form_value' %>
      </div>

      <%= form.submit 'Send activation email', class: 'btn btn-success', id: 'send_me_reset_link' %>
  <% end %>
</div>
