<% if object.errors.any? %>
    <div class="text-danger text-left row">
      <ul>
        <% object.errors.full_messages.each do |msg| %>
            <li class="col-sm-5 col-sm-offset-4 col-xs-offset-2">
              <%= msg %>
            </li>
        <% end %>
      </ul>
    </div>
<% end %>