<%= provide(:button_text, 'edit') %>
<h1 class="solution_header">Editing Codeforces Round Solution</h1>

<%= render 'form' %>

<%= link_to 'Show', @codeforces_round_solution %> |
<%= link_to 'Back', codeforces_round_solutions_path %>
