<h1 class="solution_header">Codeforces Round Solutions</h1>

<%= will_paginate %>

<table class="table table-striped">
  <thead>
    <tr class="solution_index_header">
      <th>Author</th>
      <th>Language</th>
      <th>Round</th>
      <th>Division</th>
      <th>Level</th>
      <th>Upload time</th>
      <th>Last modified</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>
  <tbody>
  <%= render @codeforces_round_solutions %>
  </tbody>



</table>

<%= will_paginate %>
