/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 //*= require_tree .
 //*= require_self
 From https://github.com/twbs/bootstrap-sass,
 ".... remove all the *= require_self and *= require_tree statements from the sass file.
  Instead, use @import to import Sass files.
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";

/* mixins, variables, etc. */
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// Font variables
$font_default: Helvatica, Consolas, monospace;
$font_indie_flower: "Indie Flower", $font_default;
$font_kaushan_script: "Kaushan Script", $font_default;
$font_architects_daughter: "Architects Daughter", $font_default;
$font_shadows_into_light: "Shadows Into Light", $font_default;

.font_kaushan_script {
  font-family: $font_kaushan_script;
}

.font_indie_flower {
  font-family: $font_indie_flower;
}

.font_architects_daughter {
  font-family: $font_architects_daughter;
}

.font_shadows_into_light {
  font-family: $font_shadows_into_light;
}

/* forms */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* display debug info in a more visually pleasing way */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}