@import 'application';

#welcome_title {
  font-family: $font_kaushan_script;
}

#welcome_subtitle {
  font-family: $font_indie_flower;
  margin-top: 1em;
}

#fork_me {
  font-family: $font_architects_daughter;
  font-size: 1.1em;
}

#report_issue {
  margin-left: 3em;
  font-family: $font_architects_daughter;
  font-size: 1.1em;
}
#about {
  font-family: $font_indie_flower;
  font-size: 1.5em;
}

#welcome_stats {
  font-size: 1.2em;
  margin-left: 1em;
  float: right;
}

#leaderboard {
 font-size: 1em;
  float: left;
}

.nav_custom {
  font-family: $font_kaushan_script;
  font-size: 1.2em;
}