// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'application';

/* user profile */
.profile {
  margin: auto;
}

#username {
  font-family: $font_kaushan_script;
  font-size: 3em;
}

#user_avatar {
  text-align: right;
  margin: auto;
}

#user_info {
  text-align: left;
  padding: 20px;
}


/* user edit */
#update_profile_header {
  font-family: $font_kaushan_script;
  margin-bottom: 1.5em;
}

/* user signup */
#signup_header {
  font-family: $font_kaushan_script;
  margin-bottom: 1.5em;
}

/* Users index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}


/* User form for both signup and edit */
.form_label {
  font-family: $font_kaushan_script;
  font-size: 1.4em;
  width: 15%;
  padding-right: 1em;
  padding-bottom: 0.5em;
}

.form_value {
  font-family: $font_architects_daughter;
  font-size: 1.4em;
}

.form_submit {
  margin-top: 1em;
  font-family: $font_kaushan_script;
  font-size: 1.4em !important;
}

.gravatar_edit {
  font-family: $font_kaushan_script;
  padding-bottom: 1em;
}
