// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'application';

/* user profile */
.profile {
  margin: auto;
  //background-color: $gray-light;
}

#username {
  font-family: 'Kaushan Script', Consolas, monospace;
  font-size: 3em;
  text-align: center;
}

#user_avatar {
  text-align: right;
  margin: auto;
  //background-color: #1b6d85;
}

#user_info {
  text-align: left;
  padding: 20px;
  //background-color: $alert-danger-bg;
}

/* Users index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}