// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'application';

/* user profile */
.profile {
  margin: auto;
}

#username {
  font-family: $font_kaushan_script;
  font-size: 3em;
}

#user_avatar {
  text-align: right;
  margin: auto;
}

#user_info {
  text-align: left;
  padding: 20px;
}


/* user edit */
#update_profile_header {
  font-family: $font_kaushan_script;
  margin-bottom: 1.5em;
}

/* user signup */
#signup_header {
  font-family: $font_kaushan_script;
  margin-bottom: 1.5em;
}

.user_info_label {
  font-family: $font_kaushan_script;
  font-size: 1.2em;
  width: 15%;
  padding-right: 1em;
  padding-bottom: 0.5em;
}

.user_info_value {
  font-family: $font_architects_daughter;
  font-size: 1.4em;
}

/* users index */
.users_header {
  @include main_header;
  margin-bottom: 1em;
}

.gravatar_edit {
  font-family: $font_kaushan_script;
  padding-bottom: 1em;
}

.user_index_header {
  font-family: $font_kaushan_script;
  font-size: 1.2em;
}
