<footer class="footer">
  <small>
    Written by <a href="https://www.linkedin.com/in/seulgi">Seulgi Kim</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to 'About', about_path %></li>
    </ul>
  </nav>
</footer>