<footer class="footer text-center">
  <div class="container">
    <span class="font_kaushan_script">Codingyard by
    <a href="https://www.linkedin.com/in/Seulgi" target="_blank">Seulgi Kim</a></span>
    &nbsp; | &nbsp;
    <span class="font_kaushan_script"><%= link_to 'About', about_path%></span>

    </div>
</footer>