<footer class="footer text-center">
  <div class="container">
    Codingyard by
    <a href="https://www.linkedin.com/in/Seulgi" target="_blank">Seulgi Kim</a>
    &nbsp; | &nbsp;
    <%= link_to 'About', about_path %>
  </div>
</footer>