<nav class="navbar navbar-default">
  <!-- container-fluid provides round corners -->
  <div class="container-fluid">

    <%= link_to 'Codingyard', root_path, class: 'navbar-brand' %>

    <ul class="nav navbar-nav">
      <li><%= link_to 'About', about_path %></li>
    </ul>


    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to 'Login', '#' %></li>
      <li><%= link_to 'Signup', '#' %></li>
    </ul>

  </div>
</nav>